name: Build and Release

on:
  push:
    branches:
      - master

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'

    - name: Install Dependencies
      run: npm install

    - name: Build Project
      run: grunt build

    - name: Zip Build Artifacts
      run: zip -r chosen-build-${{ github.sha }}.zip ./docs/

    - name: Create a Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: commit-${{ github.sha }}
        release_name: Release commit-${{ github.sha }}
        draft: false
        prerelease: false

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./chosen-build-${{ github.sha }}.zip
        asset_name: chosen-build-${{ github.sha }}.zip
        asset_content_type: application/zip
